@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body, html {
  font-family: 'Montserrat';
  margin: 0;
}

body a, html a {
  text-decoration: none;
  color: black;
}

header {
  padding: 2em;
}

header .logo {
  color: black;
  font-weight: bold;
}

header .menu-btn {
  width: 18px;
  float: right;
  cursor: pointer;
}

section {
  padding: 4em;
}

section h1 {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
}

section h1::before {
  content: ' ';
  border-top: 5px solid #c7c7c7;
  display: block;
}

nav {
  background: black;
  padding: 2em;
  width: calc(100%-4em);
  height: calc(100vh-4em);
  display: none;
  -webkit-transform: scaleX(0);
  transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: 1;
}

nav .close-btn {
  color: white;
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 1% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 100%;
  display: list-item;
  text-align: -webkit-match-parent;
  opacity: 1;
}

nav ul a {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  z-index: 100;
}

nav ul span {
  color: gray;
  display: block;
  font-size: 14px;
  z-index: 100;
  margin-bottom: 20px;
}

nav ul li {
  opacity: 1;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:ntn-of-type(1) {
  -webkit-animation: menu-item-anim 1s forwards1s ease-in-out;
          animation: menu-item-anim 1s forwards1s ease-in-out;
}

.show-menu li:ntn-of-type(2) {
  -webkit-animation: menu-item-anim 1.2s forwards1s ease-in-out;
          animation: menu-item-anim 1.2s forwards1s ease-in-out;
}

.show-menu li:ntn-of-type(3) {
  -webkit-animation: menu-item-anim 1.4s forwards1s ease-in-out;
          animation: menu-item-anim 1.4s forwards1s ease-in-out;
}

.show-menu li:ntn-of-type(4) {
  -webkit-animation: menu-item-anim 1.6s forwards1s ease-in-out;
          animation: menu-item-anim 1.6s forwards1s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  padding: 1px;
}

main .container {
  background-color: black;
  width: 1000px;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (150px)[2];
      grid-template-rows: repeat(2, 150px);
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 50px;
}

main .item {
  padding: 20px;
  font-size: 30px;
  font-family: 'Montserrat';
  color: white;
}

main .item--1 {
  background-color: #000000;
}

main .item--2 {
  background-color: #202020;
}

main .item--3 {
  background-color: #404040;
}

main .item--4 {
  background-color: #606060;
}

main .item--5 {
  background-color: #808080;
}

main .item--6 {
  background-color: #A0A0A0;
}
/*# sourceMappingURL=main.css.map */